// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$cool-yellow: rgb(243, 236, 198);
$bg-color: rgb(255, 249, 214);
$shade: rgba(223, 223, 223, 0.904);
$my-gradient: linear-gradient(to left,rgba(0, 0, 0, 0.795),rgba(3, 23, 24, 0.349));
$my-gradient-top: linear-gradient(to top,rgba(0, 0, 0, 0.185),rgba(3, 23, 24, 0));
$the_black: rgba(0, 0, 0, 0.795);