.review {
  width: 100%;
  margin: 0px;
  padding: 0px;

  p {
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }

  h2 {
    margin: 0px;
    padding: 0px;
  }


}

.average {
  display: flex;
  margin-bottom: 20px;
  font-size: 18px;
}