.card {
  height: 250px;
  min-width: 250px;
  background-size: cover;
  margin: 0px 10px 30px 10px;
  background-repeat: no-repeat;
  border-radius: 8px;
  position: relative;
  background-color: rgba(37, 26, 1, 0.521);
  box-shadow: 2px 5px 15px 2px rgba(61, 61, 61, 0.555);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-blend-mode: normal;;
  transition: 0.6s;

  a {
    font-size: x-large;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    transition: 0.6s;
  }

  h2 {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.623);
  }
  
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.493);
  background-blend-mode: overlay;

  a {
    color: $cool-yellow;
    font-size: xx-large;
  }

}